body {
    background: #201d24 ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
}

.caption-div {
    display: flex;
    align-items: center; /* Center the text vertically within the .caption-div */
    justify-content: flex-start;
    padding-left: calc(var(--bs-gutter-x) * 1);
    padding-right: calc(var(--bs-gutter-x) * 1);
    margin-bottom: 10px;
   
}

.caption {
    color: white;
    font-weight: 650;
    font-size: 26px;
    width: fit-content;
    margin: auto 0; /* Center the text vertically */
}



.custom-card {
    
    background-color: #37313f;
    color: white;
    width: 100%; /* Allow cards to take up 100% of column width */
    min-width: 200px; /* Adjust the minimum width for cards as needed */
    height: 95%;
    
    transition: 300ms ease;
}

.custom-card:hover {
    background-color: #4e4658;
}

.image-container {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    padding-bottom: 100%; /* This creates a square container */
}


.card-image {
    
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block; /* Ensure the image is treated as a block element */
    
    

}

.artist-image {
    border-radius: 100%;
}










.card-body {
    margin-top: -15px;
    margin-bottom: 15px;
    white-space: normal;
    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}

.card-title {
    font-weight: 700;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Adjust the number of lines to be shown */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-subtitle {
    color:#918d97;
    font-weight: 600;
    padding-bottom: 5px;
}

.Sidebar {
    height: 97%;
    width: 15%;
    background-color: #2f2a35;
    border-radius: 15px;
    position: fixed;
    margin: 10px 20px 0px 10px;
    top: 0;
    bottom:0;
    
    
}


.combine-home {
    display: flex;
}
.homepage {
    
}


.search-bar {
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    height: 200px;
    background-color: #201d24;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
}



.search-results {
    margin-top: 200px;
    height: fit-content;
   
   
}

.search-rows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color:#ffffff;
    height: 55px;
    width: 400px;
    
    color: white !important;

    border-radius: 100px;
    transition: 150ms ease-in-out;

    
    
}

/* Add styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .form {
        width: 90%; /* Adjust the width as needed for smaller screens */
    }
}

.form:focus-within {
    
    /* Styles for the input elements when focused */
    border: none ! important;  /* Add a white border when the input is focused */
    outline: solid rgb(150, 93, 255)! important; 
}

.form:focus-within input {
    outline: none !important;
    box-shadow: none !important;
}





.search-button {
    border: none;
    color: black;
    background: white;
    margin-right: 10px;
}

.search-input {
    margin-left: 8px;
    
    
}

.search-button:hover {
    border: none;
    color: black;
    background: white;
}

.search-type-button {
    margin-right: 1%;
    height: 40px;
    padding: 0px 20px 0px 20px;
    
    text-align: center;
    color: white;
    background: #51495c;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 605;
    cursor: pointer;
    transition: 150ms ease;
}

.search-type-button:hover {
    
    
    background: #61586d;
   
    
    
}

.search-type-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    
}

.active  {
    color: #51495c;
    background: white;
}

.active:hover {
    color: black;
    background: white;
}

.tracklist-item {
    color: white;
    display: flex;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

.tracklist-top {
    top: 18%; /* You can adjust the top value to control where it is fixed */
    z-index: 1000; /* Adjust the z-index to ensure it's on top of other content */
    width: 100%; /* It takes the full width of the viewport */
    display: flex;
    position: sticky;
    left: 15%; /* Center horizontally */
    
}

.top-artists {
    color: rgb(255, 255, 255);
    font-weight: 650;
}

.tracklist-item:hover {
    
    background: #51495c;
    color: white;
    
}

.tracklist-item:hover .album-name,
.tracklist-item:hover .artist-name,
.tracklist-item:hover .track-number {
    color: white;
}

.track-number {
    display: flex; /* Add this line */
    justify-content: center; /* Center text horizontally */
    text-align: center;
    align-items: center;
    width: 4%;
    
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-size: 16px;
    
}


.album-head-cover {
    display: flex; /* Add this line */
    align-items: center;
    justify-content: center; /* Center text horizontally */
    padding-right: 1%;
    text-align: center
}

.album-head {
    width: 40%;
    display: flex; /* Add this line */
    color: rgb(209, 209, 209);
    font-size: 14px;
    font-weight: 550;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.album-cover {
    display: flex; /* Add this line */
    align-items: center;
    justify-content: center; /* Center text horizontally */
    padding-right: 1%;
    text-align: center
}

.album-cover img {
    
    width:45px;
    height: 45px;
}

.album-name {
    width: 40%;
    display: flex; /* Add this line */
    color: rgb(209, 209, 209);
    font-size: 14px;
    font-weight: 550;
    align-items: center;
}

.name-artist {
    display: block;
    /* Add any other styling you need, e.g., padding, margin, etc. */
    width: 55%;
  }
  
  .song-name, .artist-name {
    display: block;
    /* Additional styling for each element */
  }

.artist-name {
    font-size: 14px;
    color: rgb(158, 158, 158);
    font-weight: 550;
}

.song-length {
    display: flex; /* Add this line */
    align-items: center;
    color: rgb(209, 209, 209);
    width: 4%;
}

.separator {
    color: rgb(209, 209, 209)
}
