/* Resetting default margin and applying font styles */
body {
  margin: 0; /* Reset margin to zero */
  /* Font family stack for better cross-browser compatibility */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; /* Smooth fonts for better readability on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts for better readability on macOS */

  background: white; /* Set background color to white */
  color: black; /* Set text color to black */
}

/* Font styles for code snippets */
code {
  /* Font family for code snippets */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
