.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block; /* Ensure the image is treated as a block element */
    
     /* Adjust the shadow size (10px in this example) */
}

.artist-image-container {
    position: relative;
    width: 275px;
    height: 275px;
   
    
    
    
}

.artist-image-container img {
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.151);
}


.column-left,
.column-right {
   
    margin: 10px; /* Remove default margins */
}


.profile-body {
    display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the parent container fills the entire viewport */
    
}
.profile-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(rgb(103, 99, 104), rgb(59, 52, 61));
    height: 350px;
    padding: 0 20px; /* Add padding as needed */
}

.column-left {
    
}

.column-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; 
    text-overflow: ellipsis; 
}




.top-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}



.top-tab {
    color:rgb(255, 255, 255);
    transition: ease 300ms;
    margin-right: 50px;
}

.top-tab:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline; 
    background: none;
    
}


.active-profile {
    color:rgb(255, 255, 255);
    text-decoration: underline; 
    background: none;
}


.profile-body-expand {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.profile-caption {
 
    width: 100%;
    font-size: 2.5rem;

    font-weight: 700;
    letter-spacing: -0.03em;
    display: flex;
    color: white;

    text-align: left; /* Align text to the left */
}

.profile-name {
    height: 100px;
    width: 100%;

    display: flex;
    align-items: flex-end; /* Vertically align text to the center */
    justify-content: flex-start; /* Align text to the left */
    text-align: left; /* Align text to the left */
}

.type-caption {
    
    color: white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em;

}
.profile-subcaption {
    
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color : rgba(255, 255, 255, 0.904);
}

.profile-altsubcaption {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.03em;
}


.genre-list {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    justify-content: flex-start;
}

.genre-link {
    

    
    gap: 10px; /* Adjust the spacing between genres as needed */
    color:rgb(164, 161, 165);
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    letter-spacing: -0.01em;
    text-decoration: none; /* Remove underline */

    transition: ease 300ms;

}


.artist-link {
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.genre-link:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline; /* Remove underline */
    
}